body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
      
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2017/04/26/10/28/tree-2262224_960_720.jpg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 2rem auto;
}


.card {
    width: 22%;
    height: 30%;
    border: 10px solid rgb(59, 80, 3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    background-color: rgba(33, 70, 3, 0.63);
    box-shadow: 7px 7px 5px rgb(1, 1, 1);
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    .card{
        width:80%;
    }
    .container{
        flex-direction: column;
    }
    .main{
        font-size:60px;
    }
}

#animation {
    animation: test 5s infinite;
    text-align: center;
}

@keyframes test{
 0% { 
    background-color: green;
 }
 25% {
    background-color: greenyellow;
 }
 50% {
    background-color: rgb(3, 76, 20)
 }
 75% {
    background-color: rgb(147, 203, 62);
 }
 100% {
    background-color: rgb(192, 201, 65);
 }
}



.cardimage {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: 50% 30%;
    padding: 10px;
}

#one:hover {
    transform: scale(1.5);
    transition: 0.5s ease;

}

#two:hover {
        filter: grayscale(100%);
        transition: 1s ;
        
}

#three:hover {
        filter: brightness(150%);
        transition: all 1s ease;
}

#four:hover {
    transform: rotate(-10deg);
    transition: 1s ease;
}


.card-header {

     font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    margin-top: 1.2rem;
    color: white;
    text-align: center;
}

.card-header:hover {
    font-size: 3rem;
    background-color: rgb(231, 239, 190);
    border: 2px solid rgba(99, 54, 3, 0.984);
    border-radius: 10px;
    font-weight: bold;
    color: black;
    text-align: center;
    transition: 0.7s;
}

.header {
    font-size: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.984);
    border-radius: 55px;
    border-width: 5px;
    font-weight: normal;
    color: black;
    text-align: center;
}
/*

.parent{
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.child {
    width: 28%
}

.child-1 {
    border: 3px solid red;
    width: 300px;
}

.child {
    border: 3px solid red;
    width: 300px;
}

.child-3 {
    border: 3px solid red;
    width: 300px;
}
*/

.px-size {
    font-size: 20px;
}

.rem-size {
    font-size: 2rem;
}

.em-size {
    font-size: 5em;
}































































































































    
}

.card {

    width: 20rem;
    height: 25 rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.card-header{
    font-size: 2.2rem;
    margin-top: 1.2em;
}
