body,
html,
*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 2rem auto;
}

.card {
    width: 20%;
    height: 30%;
    border: 10px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    background-color: red;
    box-shadow: 7px 7px 5px rgb(1, 1, 1);
    transition: 0.3s;
}

.cardimage {
    object-fit: contain;
    flex: 1;
    width: 400px;
    height: 500px;
    padding: 10px;
}

.card-header {
    font-size: 2.2rem;
    margin-top: 1.2rem;
    color: white;
    text-align: center;
}


/*

.parent{
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.child {
    width: 28%
}

.child-1 {
    border: 3px solid red;
    width: 300px;
}

.child {
    border: 3px solid red;
    width: 300px;
}

.child-3 {
    border: 3px solid red;
    width: 300px;
}
*/

.px-size {
    font-size: 20px;
}

.rem-size {
    font-size: 2rem;
}

.em-size {
    font-size: 5em;
}































































































































    
}

.card {

    width: 20rem;
    height: 25 rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.card-header{
    font-size: 2.2rem;
    margin-top: 1.2em;
}
